* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  background:
    radial-gradient(
      circle at 50% 0,
      rgba(255, 0, 0, 0.5),
      rgba(255, 0, 0, 0) 70.71%
    ),
    radial-gradient(
      circle at 6.7% 75%,
      rgba(0, 0, 255, 0.5),
      rgba(0, 0, 255, 0) 70.71%
    ),
    radial-gradient(
        circle at 93.3% 75%,
        rgba(0, 255, 0, 0.5),
        rgba(0, 255, 0, 0) 70.71%
    );
  /* background: linear-gradient(to bottom right, #6be585, #c471ed, #f64f59); */
  user-select: none;
  font-size: 1.5rem;
  font-family: sans-serif;
  color: #392e2e;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;

  .calendar {
    position: relative;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #ddd;
    width: 90vh;
    margin-top: 15px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: var(--radial-background);

    .header {
      grid-column: 1 / -1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 15px 20px;

      .header--info {
        flex: 1;
        color: white;;
        font-size: 1.7em;

        .header--month {
          margin-right: 15px;
          cursor: pointer;
        }
        .header--year {
          cursor: pointer;
        }
      }

      .header-icons {
        span {
          cursor: pointer;
          display: inline-block;
          padding: 5px 10px;
          border-radius: 5px;
          &:hover {
            background: #ffffff3b;
          }
        }
      }
    }

    .weekrow {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      background: #ffffff3b;
      margin: 10px 0 1px;
      border-radius: 5px;

      .weekday {
        height: 35px;
        display: grid;
        justify-content: center;
        align-items: center;
        background: lightgray;
        padding: 1px;
        background-clip: content-box;
      }
    }

    .day {
      height: 13vh;
      display: grid;
      justify-content: center;
      align-items: center;
      background: #ffffff3b;
      padding: 1px;
      background-clip: content-box;
      border-radius: 5px;
      cursor: pointer;
      &:not(.today):hover {
        background: var(--hover-cell-background);
        background-clip: content-box;
      }
    }
    .saturday {
      background: linear-gradient(135deg, #008cffab, #ffc0e3);
      background-clip: content-box;
    }
    .sunday {
      background: linear-gradient(135deg, #ff0000ab, #ffc0e3);
      background-clip: content-box;
    }
    .today {
      background: var(--selected-background);
      background-clip: content-box;
    }
    .rad-day {
      border: 2px solid #4AA96C;
    }
    .happy-day {
      border: 2px solid #D9DD6B;
    }
    .normal-day {
      border: 2px solid #8E9775;
    }
    .sad-day {
      border: 2px solid #035397;
    }
    .angry-day {
      border: 2px solid #D54C4C;
    }
    .not-yet-day {
      border: 0;
    }
  }

  .dummy-box{
    min-height: 200px;
  }

  .selector {
    width: 90vh;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    background: var(--radial-background);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 3px 3px 3px #ddd;
    padding: 0px;

    .selectable {
      display: grid;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 2px;
      background-clip: content-box;
      &:hover {
        background: var(--hover-month-cell-background);
        background-clip: content-box;
      }
    }
    .selected {
      background: var(--selected-background);
      background-clip: content-box;
    }
    span{
      &:nth-child(1) { border-top-left-radius: 10px; }
      &:nth-child(3) { border-top-right-radius: 10px; }
      &:nth-child(10) { border-bottom-left-radius: 10px; }
      &:nth-child(12) { border-bottom-right-radius: 10px; }
    }
  }
}